
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="YouTube is the fastest youtube video downloader. The best youtube online video downloader free in HD, Convert youtube videos to mp3 and mp4 with YouTube downloader.">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="https://www.searchpng.com/wp-content/uploads/2019/03/Youtube-Splash-Icon-PNG.png" type="image/gif" sizes="16x16">
    
    <title>YouTube Video Downloader</title>

    <style>
        body{
            font-family: "Poppins";
        }

        .url-box {
            background: #041d70;
            border-radius: 3px;
        }
        a{
            color: black;
            text-decoration: none;
        }
        a:hover{
            color: red;
        }
    </style>
</head>
    <body>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'home' %}">
                <img src="https://dwglogo.com/wp-content/uploads/2020/05/1200px-YouTube_logo.png" alt="" width="70" height="55" class="d-inline-block align-text">
                YouTube Video Downloader
              </a>
              
              <div class="d-flex">
              <a class="navbar-brand" href="https://github.com/alii76tt">
                <span class="navbar-text">
                    by @alii76tt
                </span>
              </a>  
              </div>
            </div>
        </nav>

          <div class="container">
              <div class="row justify-content-center text-lg-center">
                <div   class="col-md-8 mt-4 p-3">
                    <a class="navbar-brand" href="{% url 'home' %}">
                      <h3>YouTube Video <span class="badge bg-danger">Downloader</span></h3>
                    </a>
                    <span>Download and save YouTube videos for free</span>
                </div>
                 <a href="https://github.com/alii76tt" style="text-align: center">
                  <button class="btn btn-dark btn-lg mt-3" type="submit" target="new">
                 Source Code
                  </button> 
                </a>                       
              </div>

              <section class="url-box py-5 mt-3 shadow-lg">
                <div class="container text-center h5">
                    <form method="POST">
                     {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input name="link" type="text" class="form-control" id="exampleInputEmail1" placeholder="Please paste video URL here" required="">
                            <label for="exampleInputEmail1">Please paste video URL here</label>
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-success btn-lg" type="submit">Search</button>  
                        </div>
                    </form>
                </div>
            </section>
            {% if video %}
            <div class="bd-example mt-5 shadow-lg">
                <div class="card mb-3 border-light bg-transparent border-2" >
                  <div class="row g-0">
                    <div class="col-md-4 p-3">
                      <iframe width="100%" height="250" src="{{ embedlink }}"></iframe>
                    </div>
                    <div class="col-md-8 mt-5 text-center">
                      <div class="card-body">
                        <h4 class="card-title"><small class="text-muted lead"><em>Video Title: </em></small><a href="{{ video.watchv_url }}">{{ title }}</a></h4>
                        <h5 class="card-text mt-5 mb-5"><small class="text-muted lead"><em>Channel Name: </em></small>{{ author }}</h5>
                        <p class="card-text"><small class="text-muted lead"><em>Time: {{ duration }}</em></small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <small class="text-muted lead p-3"><em>Video</em></small>
                <table class="table text-center">
                  <thead>
                    <tr>
                      <th scope="col">Quality</th>
                      <th scope="col">File Size</th>
                      <th scope="col">Download</th>
                    </tr>
                  </thead>
                  {% for video in video.streams %}
                  <tbody>
                    <tr>
                      <th scope="row">{{video.quality }}</th>
                      <td>{{ video.get_filesize|filesizeformat }}</td>
                      <td><a href="{{ video.url }}" target="new" > <button type="button" class="btn btn-success ">Download</button></a></td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>

                <table class="table text-center">
                    <small class="text-muted lead p-3"><em>Audio</em></small>
                  <thead>
                    <tr>
                      <th scope="col">Quality</th>
                      <th scope="col">File Size</th>
                      <th scope="col">Download</th>
                    </tr>
                  </thead>
                  {% for audio in video.audiostreams %}
                  <tbody>
                    <tr>
                      <th scope="row">{{ audio.quality }}</th>
                      <td>{{ audio.get_filesize|filesizeformat }}</td>
                      <td><a href="{{ audio.url }}" target="new" > <button type="button" class="btn btn-success ">Download</button></a></td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>
            {% endif %}
            </div>
          </div>
        <div class="card p-3 mt-3">
        <figure class="p-3 mb-0">
          <blockquote class="blockquote">
            <p>How to Download Youtube Videos?</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-muted">
            Copy and Paste YouTube URL into the search box, then click "Search" button. Choose the File Format & Video Quality, then click "Download" button
          </figcaption>
        </figure>
      </div>
        <div class="card p-3">
        <figure class="p-3 mb-0">
          <blockquote class="blockquote">
            <p>Free YouTube Video Downloader</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-muted">
             You can easily download thousands of YouTube videos in high quality formats like 360p, 720p (HD), 1080p (Full HD).
          </figcaption>
        </figure>
      </div>

       <footer class="mt-1 py-2 bg-dark text-center ">
            <div class="container">
                <span class="text-muted">YouTube Video Downloader</span> <br>
                <span  class="text-muted"><a href="https://github.com/alii76tt">Source Code </a></span>
            </div>
        </footer>

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </body>
</html>
