<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="YouTube is the fastest youtube video downloader. The best youtube online video downloader free in HD, Convert youtube videos to mp3 and mp4 with YouTube downloader.">
  <meta name="keywords" content="YouTube is the fastest youtube video downloader. The best youtube online video downloader free in HD, Convert youtube videos to mp3 and mp4 with YouTube downloader.">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="shortcut icon" href="https://cdn-icons.flaticon.com/png/512/5483/premium/5483896.png?token=exp=1650571390~hmac=e0592481f5d3d815d718140e12c03c19" type="image/x-icon">
  <style>
    @import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;1,300&display=swapp);

    body {
      background-color: black;
      font-family: 'Josefin Sans', sans-serif;
      color: white;
    }

    h1 {
      color: #f00;
      text-decoration: hsl(165.8, 74.4%, 44.5%) double underline 5px;
      text-shadow: 4px 0 0 #0010ff;
    }
    .btn{
      box-shadow: 0 8px 16px 0 rgba(163, 3, 255, 0.2), 0 6px 20px 0 rgba(224, 7, 7, 0.19);
      border-radius: 12px;
      font-weight: 900;
      color: #960FF2;
    }
    a {
      text-decoration: none;
    }

    th {
      background-color: #fd7e14;
    }
  </style>

  <title>YouTube Video & Audio Downloader</title>
</head>

<body>
  
<div class="container d-flex justify-content-center mt-5 text-light">
  <div class="col-md-12 mx-auto">
    <a href="/"><h1 class="text-center display-4 fst-italic rounded font-monospace">YouTube Video & Audio Downloader</h1></a>
    
    {% if error %}
        <div class="alert alert-danger text-center mt-5 display-6">
            {{error}}
        </div>
    {% endif %}

    <form method="POST" class="mt-3">
        {% csrf_token %}
        <div class="form-floating mb-3 mt-5">
            {{form.url}}
            <label for="floatingInput" class="text-dark">Url</label>
        </div>
      <div class="d-flex justify-content-center">
        <button type="buton" class="btn btn-danger btn-lg mt-3 text-light" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-circle-down"></i> Download</button>
      </div>
    </form>
    <div class="d-flex justify-content-center">
      <a href="https://github.com/alii76tt/django-youtube-clone" class="btn btn-info btn-lg mt-3 text-light"><i class="fa-solid fa-code"></i> Source Code</a>
    </div>

    <div class="container">
        {% if isVideo %}
        <div class="bd-example mt-5 shadow-lg">
            <div class="card mb-3 border-light bg-transparent border-2 text-light" >
              <div class="row g-0">
                <div class="col-md-4 p-3">
                  <div class="img-thumb">
                    <img class="img-responsive" src="{{ image }}" width="%100" height="auto">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h4 class="card-title"><small class="text-muted lead">Video Title: </small><a target="_blank" href="{{ url }}" class="text-warning">{{ title }}</a></h4>
                    <h5 class="card-text"><small class="text-muted lead">Channel Name: </small>{{ channel }}</h5>
                    <p class="card-text"><small class="text-muted lead">Duration: </small>{{ duration }}</p>
                    <p class="card-text"><small class="text-muted lead">Views: </small>{{ views }} <i class="fa-solid fa-eye"></i></p>
                    <p class="card-text"><small class="text-muted lead">Likes: </small>{{ likes }} <i class="fa-solid fa-thumbs-up"></i></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-lg text-center">
              <small class="lead p-3"><h1>Video</h1></small>
            <table class="table text-light">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Resolution</th>
                  <th scope="col">Extension</th>
                  <th scope="col">File Size</th>
                  <th scope="col">Download</th>
                </tr>
              </thead>
              {% for video in streams %}
              <tbody>
                <tr>
                  <td scope="row">{{video.resolution }} ({{video.itemFormat}}) </td>
                  <td>{{ video.extension }}</td>
                  <td>{{ video.file_size|filesizeformat }}</td>
                  <td><a download href="{{video.url}}" class="btn"
                    target="_blank" style="color: 960FF2;">Download <i
                    class=" fa fa-download"></i></a></td>
                </tr>
              </tbody>
              {% endfor %}
            </table>

            <table class="table text-light">
                <small class="lead p-3"><h1>Audio</h1></small>
              <thead>
                <tr>
                  <th scope="col">Resolution</th>
                  <th scope="col">Extension</th>
                  <th scope="col">File Size</th>
                  <th scope="col">Download</th>
                </tr>
              </thead>
              {% for audio in audioStreams %}
              <tbody>
                <tr>
                  <td scope="row">{{audio.resolution }} ({{audio.itemFormat}}) </td>
                  <td>{{ audio.extension }}</td>
                  <td>{{ audio.file_size|filesizeformat }}</td>
                  <td><a href="{{audio.url}}" download="" class="btn"
                    target="_blank">Download <i
                    class=" fa fa-download"></i></a></td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
            </div>
            
        {% endif %}
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please Wait!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-primary alert-dismissible fade show" role="alert" style="font-size: medium;">
          <i class="fa-solid fa-file-arrow-down"></i>
          <strong>Please Wait!</strong> The process may take a long time.
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>